name: Pull Request
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  checks:
    name: Checks
    uses: ./.github/workflows/pre-checks.yml
    secrets: inherit
